{% extends "base.html" %}

{% block content %}
    <div class="sm-static-page">
        <h1>Contact</h1>
        <p>Main author of modelling method and this website</p>
        <p> Michał Kadlof
            <script type="text/javascript">
                <!--
                user = "m.kadlof";
                domain = "cent.uw.edu.pl";
                document.write('&lt;<a href=\"mailto:' + user + '@' + domain + '\">' +
                    user + '@' + domain + '</a>&gt;');
                -->
            </script>
        </p>
        <hr>
        <p>Principal investigator</p>
        <p>Dariusz Plewczyński
            <script type="text/javascript">
                <!--
                user = "d.plewczynski";
                domain = "cent.uw.edu.pl";
                document.write('&lt;<a href=\"mailto:' + user + '@' + domain + '\">' +
                    user + '@' + domain + '</a>&gt;');
                -->
            </script>
        </p>
        <hr>
        <p>Significant contributors</p>
        <p>Julia Różycka
            <script type="text/javascript">
                <!--
                user = "j.rozycka";
                domain = "cent.uw.edu.pl";
                document.write('&lt;<a href=\"mailto:' + user + '@' + domain + '\">' +
                    user + '@' + domain + '</a>&gt;');
                -->
            </script>
        </p>
    </div>
{% endblock %}