{% extends "base.html" %}

{% block head %}
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css"
          integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css"
          integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="sm-static-page overview">

        <h1>Overview</h1>
        <p>Spring Model is general purpose chromatin domains modelling
            tool.
            It employs molecular mechanics to quick
            building 3D structures. Models satisfy contacts defined by user and allows to insight region of interests
            from structural perspective.</p>

        <dl>
            <dt><i class="fas fa-magic"></i></dt>
            <dd>Generic!</dd>
            <dd><p>Wide range of applications!</p></dd>

            <dt><i class="fas fa-baby"></i></dt>
            <dd>Simple!</dd>
            <dd><p>Easy and self explanatory interface do what you expect.</p></dd>

            <dt><i class="fas fa-tachometer-alt"></i></dt>
            <dd>Fast!</dd>
            <dd><p>Most of modelling last less than few seconds!</p></dd>
        </dl>
    </div>

{% endblock %}