{% extends "base.html" %}

{% block content %}
    <div class="sm-static-page">
        <h1>Privacy policy</h1>
        <p>We record IP address of every request.</p>
        <p>They are used for monitoring usage of server and prevent malicious server abuse.</p>
        <p>Your tasks will be stored on our server for some time but nobody knows how long.</p>
    </div>
{% endblock %}