{% extends "base.html" %}

{% block content %}
    <h1>Success!</h1>
    <p>Your task was added to the queue.</p>
    <p>You will be redirected to <a href="{{ task.get_url }}">task site</a> site in 5 seconds.</p>
    <p>Or just click link above to navigate manually.</p>
    <script>
        function redirect() {
            window.location.href = "{{ task.get_url }}";
        }

        setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
    </script>
{% endblock %}