{% extends "base.html" %}

{% block content %}
    <h1>Spring Model</h1>
    <p style="margin: 30px">Spring model is a webservice for modelling chromatin domains using direct information about
        contacts derived from experiments like <a href="https://science.sciencemag.org/content/326/5950/289">Hi-C</a> or
        <a href="https://www.nature.com/articles/nature08497">ChIA-PET</a>. It is employs polymer physics and molecular
        mechanics using <a href="http://openmm.org/">OpenMM</a> library. Please visit
        <a href="{% url 'manual' %}">manual</a>, and <a href="{% url 'tutorial' %}">tutorial</a> pages for more info.
    </p>
    <hr>
    <h2>New request</h2>
    <form action="/" method="post">
        {% csrf_token %}
        <fieldset>

            {###############}
            {#   GENERAL   #}
            {###############}

            <legend>General</legend>
            <table>
                <tr>
                    <th>{{ form.title.label_tag }}</th>
                    <td>
                        {{ form.title.errors }}
                        {{ form.title }}
                        <br>
                        <span class="help-text">{{ form.title.help_text }}</span>
                    </td>

                    <td class="example-links">
                        <ul>
                            <li><a href="#" onclick="fill_example_data_1()">Example 1</a></li>
                            <li><a href="#" onclick="fill_example_data_2()">Example 2</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="#" onclick="fill_example_data_3()">Example 3</a></li>
                            <li>&nbsp;</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th rowspan="4">{{ form.initial_structure_type.label_tag }}</th>
                    <td rowspan="4">{{ form.initial_structure_type }}</td>
                    <th>{{ form.stiffness.label_tag }}</th>
                    <td>{{ form.stiffness }}</td>
                    <td><span class="help-text">{{ form.stiffness.help_text }}</span></td>
                </tr>
                <tr>
                    <th>{{ form.spherical_container.label_tag }}</th>
                    <td>{{ form.spherical_container }}</td>
                    <td><span class="help-text">{{ form.spherical_container.help_text }}</span></td>
                </tr>
                <tr>
                    <th>{{ form.refinement.label_tag }}</th>
                    <td>{{ form.refinement }}</td>
                    <td><span class="help-text">{{ form.refinement.help_text }}</span></td>
                </tr>
                <tr>
                    <th>{{ form.excluded_volume.label_tag }}</th>
                    <td>{{ form.excluded_volume }}</td>
                    <td><span class="help-text">{{ form.excluded_volume.help_text }}</span></td>
                </tr>
            </table>
        </fieldset>

        {#########################}
        {#   MODEL COORDINATES   #}
        {#########################}

        <fieldset id="model-coordinates">
            <legend>Model coordinates</legend>
            <table>
                <tr>
                    <th>{{ form.number_of_beads.label_tag }}</th>
                    <td>
                        {{ form.number_of_beads }}
                        <br><span class="help-text">{{ form.number_of_beads.help_text }}</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="center-cell"><span class="field-errors">{{ form.restraints.errors }}</span>
                    </td>
                </tr>

                <tr>
                    <th>{{ form.restraints.label_tag }}</th>
                    <td>
                        {{ form.restraints }}
                    </td>
                </tr>
            </table>
        </fieldset>

        <div class="separator">or</div>

        {###########################}
        {#   GENOMIC COORDINATES   #}
        {###########################}

        <fieldset id="genomic-coordinates">
            <legend>Genomic coordinates</legend>
            <table>
                <tr>
                    <th>{{ form.region.label_tag }}</th>
                    <td>
                        {{ form.region.error_messages }}
                        {{ form.region }}
                    <td><span class="help-text">{{ form.region.help_text }}</span></td>
                </tr>

                <tr>
                    <th>{{ form.resolution.label_tag }}</th>
                    <td>
                        {{ form.resolution.error_messages }}
                        {{ form.resolution }}
                    </td>
                    <td><span class="help-text">{{ form.resolution.help_text }}</span></td>
                </tr>

                <tr>
                    <th>
                        {{ form.interactions.label_tag }}
                    </th>
                    <td colspan="2"><span class="help-text"><a rel="noopener noreferrer" target="_blank"
                                                               href="https://bedtools.readthedocs.io/en/latest/content/general-usage.html#bedpe-format">BEDPE</a>
                        format</span>
                        {# Help text cannot have HTML so in this case it is hardcoded. #}
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        {{ form.interactions.error_messages }}
                        {{ form.interactions }}
                    </td>
                </tr>

            </table>

        </fieldset>
        <span class="policy-info">By submitting new request you accept our <a href="{% url 'privacy_policy' %}">privacy policy</a>.</span>
        {{ form.coordinates_type }}
        <input class="new-task-submit-btn" type="submit" value="Submit"/>
        <div style="clear:both;"></div>
    </form>

    {% if form.errors %}
        <div id="id01" class="modal">
            <div class="modal-content">
                <header>
                    <h1>Form validation error</h1>
                </header>
                <div class="modal-container">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="modal-button">&times;</span>
                    {% for field in form %}
                        {% if field.errors %}
                            <ul class="errorlist">
                                <li>{{ field.name }}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <ul class="errorlist" style="margin-top: 10px;">
                            <li>Multi field relations
                                <ul class="errorlist">
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}

    {###########################}
    {#        EXAMPLES         #}
    {###########################}

    <script>
        function fill_example_data_1() {
            document.getElementById('id_title').value = "Example - model coordinates";
            document.getElementById('id_initial_structure_type_1').checked = true;
            document.getElementById('id_number_of_beads').value = '100';
            document.getElementById('id_restraints').value = `10 30
10 50
10 70
10 90
30 50
30 70
30 90
50 70
50 90
70 90`;
            document.getElementById('id_region').value = '';
            document.getElementById('id_resolution').value = '';
            document.getElementById('id_interactions').value = '';
        }

        function fill_example_data_2() {
            document.getElementById('id_title').value = "Example - Genomic coordinates";
            document.getElementById('id_initial_structure_type_2').checked = true;
            document.getElementById('id_number_of_beads').value = '';
            document.getElementById('id_restraints').value = '';
            document.getElementById('id_region').value = 'chr7:141250000-141850000';
            document.getElementById('id_resolution').value = '2000';
            document.getElementById('id_interactions').value = `chr7	141319306	141319888	chr7	141502227	141502862	7
chr7	141439952	141440562	chr7	141475636	141476247	4
chr7	141440408	141441058	chr7	141540288	141540817	4
chr7	141521373	141522026	chr7	141649615	141650144	4
chr7	141532718	141534198	chr7	141648797	141650013	6
chr7	141532773	141533502	chr7	141650079	141651001	4
chr7	141533511	141534645	chr7	141650062	141651061	4
chr7	141535611	141537022	chr7	141649504	141650652	5
chr7	141655299	141655869	chr7	141693222	141693832	5
chr7	141653441	141654793	chr7	141709665	141711118	9
chr7	141656215	141657786	chr7	141710387	141711077	4
chr7	141653134	141655804	chr7	141736601	141739391	40
chr7	141655948	141657565	chr7	141737637	141738765	4
chr7	141652717	141656457	chr7	141783888	141787090	43
chr7	141656940	141657491	chr7	141792255	141792903	8
chr7	141701006	141702162	chr7	141737490	141738745	9
chr7	141737478	141738238	chr7	141785355	141786856	5
chr7	141754144	141756309	chr7	141785377	141787018	8`;
        }

        function fill_example_data_3() {
            document.getElementById('id_title').value = "Example - Loop types";
            document.getElementById('id_initial_structure_type_0').checked = true;
            document.getElementById('id_number_of_beads').value = '90';
            document.getElementById('id_restraints').value = `10 40 >>
50 80 ><`;
            document.getElementById('id_stiffness').value = '10';
            document.getElementById('id_region').value = '';
            document.getElementById('id_resolution').value = '';
            document.getElementById('id_interactions').value = '';
        }
    </script>


{% endblock %}