{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/style.css' %}"/>
    <meta http-equiv=”refresh” content=”60">
{% endblock %}

{% block content %}
    <table class="task_list">
        <tr>
            <th id="timestamp">Date</th>
            <th id="status">Status</th>
            <th id="title">Title</th>
        </tr>
        {% for task in object_list %}
            <tr>
                <td>{{ task.timestamp }}</td>
                <td>
                    {% if task.status == 'W' %}
                        <div class="label label_waiting">Waiting</div>
                    {% elif task.status == 'R' %}
                        <div class="label label_running">Running</div>
                    {% elif task.status == 'F' %}
                        <div class="label label_finished">Finished</div>
                    {% elif task.status == 'E' %}
                        <div class="label label_error">Error</div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ task.id }}">
                        {% if task.title != '' %}{{ task.title }}{% else %}No title{% endif %}</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Tasks database is empty.</td>
            </tr>
        {% endfor %}
    </table>

    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}