{% extends "base.html" %}
{% load static %}
{% load app_extras %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/style.css' %}">
    {% if task.status == 'F' or task.status == 'R' %}
        <meta http-equiv=”refresh” content=”30">
    {% endif %}
{% endblock %}

{% block content %}

    <h1>Task</h1>
    <div>
        <div class="container-left">
            <h2>{% if object.title != '' %}{{ object.title }}{% else %}No title{% endif %}</h2>
            <a href="{{ request.get_full_path }}"><span class="task_id">{{ object.id }}</span></a><br>

            <table class="task-details">

                {#################}
                {#   META DATA   #}
                {#################}

                <tr>
                    <th>Submitted at:</th>
                    <td>{{ task.timestamp }}</td>
                </tr>
                <tr>
                    <th>Task status:</th>
                    <td>
                        {% if task.status == 'W' %}
                            <span class="label label_waiting">Waiting</span>
                        {% elif task.status == 'R' %}
                            <span class="label label_running">Running</span>
                        {% elif task.status == 'F' %}
                            <span class="label label_finished">Finished</span>
                        {% elif task.status == 'E' %}
                            <span class="label label_error">Error</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Number of beads:</th>
                    <td>{{ object.number_of_beads }}</td>
                </tr>
                <tr>
                    <th>Number of restraints:</th>
                    <td>{{ object.get_number_of_restraints }}</td>
                </tr>
                <tr>
                    <th>Initial Structure type:</th>
                    <td>{{ object.initial_structure_name }}</td>
                </tr>
                <tr>
                    <th>Excluded volume:</th>
                    <td>{{ object.excluded_volume }}</td>
                </tr>
                <tr>
                    <th>Refinement:</th>
                    <td>{% if object.refinement %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Stiffness:</th>
                    <td>{{ object.stiffness }}&thinsp;<span class="less-important">kJ/mol/rad<sup>2</sup></span></td>
                </tr>
                {% if object.status == 'F' %}
                    <tr>
                        <th>Structure energy:</th>
                        <td>{{ object.final_structure_potential_energy|floatformat:-3 }}&thinsp;<span
                                class="less-important">kJ/mol</span></td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Beads per interaction:</th>
                    <td>{% if object.beads_per_interaction > 0 %}
                        {{ object.beads_per_interaction|floatformat:-3 }} <span
                                class="less-important">beads/interaction</span>
                    {% else %}N/A
                    {% endif %}</td>
                </tr>

                {% if region %}
                    <tr>
                        <th>base pairs per interaction:</th>
                        <td>{{ bppi | floatformat:0 | format_thousands }} <span
                                class="less-important">bp/interaction</span></td>
                    </tr>
                    <tr>
                        <th>Region:</th>
                        <td>{{ region }}</td>
                    </tr>
                    <tr>
                        <th>Region length:</th>
                        <td>{{ region | length | format_thousands }} <span class="less-important">bp</span></td>
                    </tr>
                    <tr>
                        <th>Effective resolution:</th>
                        <td>{{ effective_resolution|floatformat:0 }} <span class="less-important">bp/bead</span></td>
                    </tr>
                {% endif %}
                {% if object.spherical_container %}
                    <tr>
                        <th>Spherical container<br>radius:</th>
                        <td>{{ object.spherical_container }} σ</td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                        <form action="{% url 'index' %}" method="post">
                            <div style="display: none;">
                                {{ form.as_p }}
                                <input type="hidden" name="resubmit" value="1">
                            </div>
                            <input type="submit" value="Alter and resubmit" class="resubmit-btn">
                        </form>
                    </td>
                </tr>

                {#################}
                {#   DOWNLOADS   #}
                {#################}

                <tr>
                    <td colspan="2"><h2>Downloads</h2></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            {% if task.status == 'F' %}
                                <li><a href="{{ object.get_output_url }}"><b>Result structure</b></a></li>
                            {% endif %}
                            <li><a href="{{ object.get_initial_structure_url }}">Initial structure</a></li>
                            <li><a href="{{ object.get_restraints_url }}">Pseudo bonds for UCSF Chimera</a></li>
                        </ul>
                    </td>
                </tr>

                {###################}
                {#   ARC DIAGRAM   #}
                {###################}

                {% if object.get_number_of_restraints > 0 %}
                    <tr>
                        <td colspan="2">
                            <img class="arc-diagram" src="{{ object.get_arcs_url }}" alt="arc diagram"/><br>
                            <span class="less-important">Arc height is proportional to it's length.</span>
                        </td>
                    </tr>
                {% endif %}

                {##################}
                {#   RESTRAINTS   #}
                {##################}

                <tr>
                    <td colspan="2">
                        <fieldset>
                            <legend>Restraints</legend>
                            {% if object.get_number_of_restraints > 0 %}
                                <ul id="restraints">
                                    {% for restraint in restraints %}
                                        <li>{{ restraint }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No restraints defined
                            {% endif %}
                        </fieldset>
                    </td>
                </tr>

                {###################}
                {#   INTERACTION   #}
                {###################}

                {% if interactions %}
                    <tr>
                        <td colspan="2">
                            <fieldset class="interactions">
                                <legend>Interactions</legend>
                                <ul id="restraints">
                                    {% for interaction in interactions %}
                                        <li>
                                            <pre>{{ interaction }}</pre>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </fieldset>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        {####################}
        {#   RIGHT COLUMN   #}
        {####################}

        {% if task.status == 'F' %}
            <div class="container-right">
                <fieldset>
                    <legend>Interactive structure preview</legend>
                    <div id="viewport" class="structure-preview"></div>
                    {% if region %}
                        <div class="ruler-desc">genome coordinates</div>
                        <div class="ticks">
                            <div class="tick-label2 upper-ticks">{{ ticks2.0 }}</div>
                            <div class="tick-label2 upper-ticks">{{ ticks2.1 }}</div>
                            <div class="tick-label2 upper-ticks">{{ ticks2.2 }}</div>
                            <div class="tick-label2 upper-ticks">{{ ticks2.3 }}</div>
                            <div class="tick-label2 upper-ticks">{{ ticks2.4 }}</div>
                            <div class="tick-label2 upper-ticks">{{ ticks2.5 }}</div>
                        </div>
                        <div class='ruler'>
                            <div class='cm'>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                                <div class='mm upper-ruler'></div>
                            </div>
                            <div class="cm"></div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="color-legend"></div>
                    </div>
                    <div class='ruler'>
                        <div class='cm'>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                            <div class='mm'></div>
                        </div>
                        <div class="cm"></div>
                    </div>
                    <div class="ticks">
                        <div class="tick-label">{{ ticks.0 }}</div>
                        <div class="tick-label">{{ ticks.1 }}</div>
                        <div class="tick-label">{{ ticks.2 }}</div>
                        <div class="tick-label">{{ ticks.3 }}</div>
                        <div class="tick-label">{{ ticks.4 }}</div>
                        <div class="tick-label">{{ ticks.5 }}</div>
                        <div class="tick-label">{{ ticks.6 }}</div>
                        <div class="tick-label">{{ ticks.7 }}</div>
                        <div class="tick-label">{{ ticks.8 }}</div>
                        <div class="tick-label">{{ ticks.9 }}</div>
                        <div class="tick-label">{{ ticks.10 }}</div>
                    </div>
                    <div class="ruler-desc">model coordinates</div>


                </fieldset>
                <fieldset>
                    <legend>Distance map</legend>
                    <img class="distance-map" src="{{ object.get_distance_map_url }}" alt="distance map"/>
                </fieldset>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    {% if task.status == 'F' %}
        <script src="{% static 'tasks/js/ngl.embedded.min.js' %}"></script>
        <script>
            if (!Detector.webgl) Detector.addGetWebGLMessage();

            NGL.mainScriptFilePath = "{% static 'tasks/js/ngl.embedded.min.js' %}";

            function onInit() {
                const stage = new NGL.Stage("viewport");
                stage.loadFile("{{ object.get_url }}/output.pdb", {defaultRepresentation: true}).then(function (o) {
                    o.addRepresentation("licorice", {color: "atomindex"});
                    // noinspection JSUnresolvedFunction
                    o.autoView();
                });
            }

            document.addEventListener("DOMContentLoaded", function () {
                NGL.init(onInit);
            });
        </script>
    {% endif %}
{% endblock %}
