fieldset {
  border: 1px solid #333;
  padding: 15px 5px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
}

fieldset#model-coordinates {
  width: 30%;
  float: left;
}

fieldset#genomic-coordinates {
  width: 61%;
  float: right;
}

input[type=submit] {
  display: block;
  background: #1b8fff;
  border: 2px solid #333;
  color: white;
  border-radius: 5px;
}

.new-task-submit-btn {
  padding: 10px 30px;
  font-weight: 400;
  font-size: large;
  margin-bottom: 10px;
  width: 252px;
}

input[type=number], input[type=text] {
  width: 125px;
}

th, td {
  padding: 3px;
  vertical-align: middle;
}

span.help-text {
  font-size: smaller;
  color: #555;
}

td.example-links {
  padding-left: 20px;
}

span.policy-info {
  float: right;
  width: 60%;
}

fieldset legend {
  font-size: 14pt;
  position: absolute;
  top: -12px;
  left: 18px;
  background-color: #ddd;
}

div.separator {
  float: left;
  padding: 150px 12px;
  font-weight: 700;
  font-size: 14pt;
}

textarea {
  -moz-tab-size: 2;
  tab-size: 2;
  font-size: 8pt;
}

.field-errors {
  font-size: 10pt;
  color: red;
}

.center-cell {
  text-align: center;
  vertical-align: middle;
}

$shift: 27px;

ul#id_initial_structure_type li {
  padding-left: $shift;
}

ul#id_initial_structure_type li label {
  margin-left: -$shift;
}
