html {
  margin: 0;
  background: silver;
}

.container {
  width: 800px;
  margin: 10px auto auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #ddd;
  box-shadow: 0 0 20px #000;
}

hr {
  border-top: 1px solid silver;
  margin: 5px;
}


////////////////////////
//  NUMBERED HEADERS  //
////////////////////////

body {
  counter-reset: h2counter;
}

h1 {
  counter-reset: h2counter;
}

.countheads ~ h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

h2.nocount:before {
  content: none;
  counter-increment: none;
}

h2 {
  counter-reset: h3counter;
}

.countheads ~ h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

h3.nocount:before {
  content: none;
  counter-increment: none;
}

