nav li {
  float: left;
}

nav ul {
  overflow: hidden;
  background-color: #333;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

////////////////////////
//   DROP DOWN MENU   //
////////////////////////

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a{
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content li{
  float: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}