.modal-button {
  padding: 8px 16px;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 5px 0 0;
}

.modal {
  z-index: 3;
  padding-top: 300px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  background-color: #ddd;
  position: relative;
  padding: 20px;
  outline: 0;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
}

.modal-container:after, .modal-container:before {
  content: "";
  display: table;
  clear: both;
  padding: 0.01em 16px;
}


.modal-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

