//////////////////////////
//   ALL STATIC PAGES   //
//////////////////////////

.sm-static-page p {
  line-height: 1.2;
  margin-bottom: 5px;
}

.sm-static-page ol {
  list-style: decimal;
}

.sm-static-page li {
  margin-left: 18px;
}

.sm-static-page ul {
  list-style-type: circle;
}

///////////////////////
//   OVERVIEW PAGE   //
///////////////////////

.overview {
  padding: 30px;
}

.overview h1 {
  margin-bottom: 30px;
}

.overview p {
  margin-bottom: 30px;
  font-family: "Book Antiqua", sans-serif;
}

.overview dl {
  margin-left: 40px;
}

.overview dt, .overview dd {
  float: left;
  font-size: 13pt;
}

.overview dt {
  width: 90px;
  height: 80px;
  text-align: center;
}

.overview dd {
  width: 80%;
  margin-top: 10px;
  font-family: "Book Antiqua", sans-serif;
}

.overview dd p {
  font-family: Arial, sans-serif !important;
}

.overview dt i {
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: #1b8fff;
  margin-top: 20px;
}

///////////////////////
//    MANUAL PAGE    //
///////////////////////

#manual dt {
  font-style: italic;
}

#manual dd {
  margin-left: 30px;
  margin-bottom: 15px;
}

#manual ul, .manual ol {
  margin-left: 20px;
}

#manual p {
  margin-bottom: 10px;
}


#manual li p {
  margin-left: 30px;
}

////////////////////////////
//      TUTORIAL PAGE     //
////////////////////////////

#tutorial {
  padding: 10px;
}

#tutorial h2 {
  margin: 10px 0 5px 0;
}

#tutorial p {
  margin-bottom: 10px;
}

#tutorial pre {
  margin: 10px 0 20px 50px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  font-size: 10pt;
}

/////////////////////
//      IMAGES     //
/////////////////////

.image-with-caption {
  font-size: 80%;
  text-align: center;
  display: inline-block;
}

.sm-row-img, .md-row-img, .lg-row-img {
  margin-top: 15px;
  text-align: center;
  padding-bottom: 0.5em;
}

// Small

$sm-img-size: 140px;

.sm-row-img img {
  height: $sm-img-size;
  width: $sm-img-size;
}

.sm-row-img .image-with-caption {
  width: $sm-img-size;
}

// Medium

$md-img-size: 200px;

.md-row-img img {
  height: $md-img-size;
  width: $md-img-size;
}

.md-row-img .image-with-caption {
  width: $md-img-size;
}

// Large

$lg-img-size: 430px;

.lg-row-img img {
}

.lg-row-img .image-with-caption {
  width: $lg-img-size;
}