.container-left {
  float: left;
}

.container-right {
  float: right;
}

.task_id {
  color: dimgray;
  font-size: 8pt;
}

.task-details th {
  color: dimgray;
}

$object-width: 385px;

.arc-diagram {
  width: $object-width;
}

.distance-map {
  width: $object-width;
}

.structure-preview {
  width: $object-width;
  height: 370px;
  margin-bottom: 5px;
}

ul#restraints {
  list-style: none;
  font-size: 10px;
}

fieldset.interactions pre {
  width: 100%;
  max-width: $object-width;
  text-overflow: ellipsis;
  tab-size: 3;
  -moz-tab-size: 3;
}

//////////////////////
//   COLOR LEGEND   //
//////////////////////

.color-legend {
  height: 8px;
  background: #ff3232;
  background: -moz-linear-gradient(left, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  background: -webkit-linear-gradient(left, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  background: linear-gradient(to right, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3232', endColorstr='#0000ff', GradientType=1);
}

.ruler {
  position: relative;
  width: 100%;
  height: 14px;
}

.ruler .cm {
  width: 100%;
}

.ruler .mm {
  width: 10%;
}

.ruler .cm,
.ruler .mm {
  position: absolute;
  border-left: 1px solid #555;
  height: 14px;
}

.upper-ruler {
  bottom: 0;
}

.ruler .mm {
  height: 5px;
}

.ruler .mm:nth-of-type(5) {
  height: 14px;
}

.ruler .cm:nth-of-type(1) {
  left: 0;
}

.ruler .cm:nth-of-type(2) {
  left: 100%;
}

.ruler .mm:nth-of-type(1) {
  left: 10%;
}

.ruler .mm:nth-of-type(2) {
  left: 20%;
}

.ruler .mm:nth-of-type(3) {
  left: 30%;
}

.ruler .mm:nth-of-type(4) {
  left: 40%;
}

.ruler .mm:nth-of-type(5) {
  left: 50%;
}

.ruler .mm:nth-of-type(6) {
  left: 60%;
}

.ruler .mm:nth-of-type(7) {
  left: 70%;
}

.ruler .mm:nth-of-type(8) {
  left: 80%;
}

.ruler .mm:nth-of-type(9) {
  left: 90%;
}

.ticks {
  position: relative;
  height: 10px;
}

.tick-label, .tick-label2 {
  position: absolute;
  font-size: 7pt;
  text-align: center;
  width: 10%;
}

.tick-label:nth-of-type(1) {
  text-align: left;
  width: 5%;
}

.tick-label:nth-of-type(2) {
  left: 5%;
}

.tick-label:nth-of-type(3) {
  left: 15%;
}

.tick-label:nth-of-type(4) {
  left: 25%;
}

.tick-label:nth-of-type(5) {
  left: 35%;
}

.tick-label:nth-of-type(6) {
  left: 45%;
}

.tick-label:nth-of-type(7) {
  left: 55%;
}

.tick-label:nth-of-type(8) {
  left: 65%;
}

.tick-label:nth-of-type(9) {
  left: 75%;
}

.tick-label:nth-of-type(10) {
  left: 85%;
}

.tick-label:nth-of-type(11) {
  left: 95%;
  width: 5%;
  text-align: right;
}


// UPPER ticks

.upper-ticks {
  width: 20%;
}

.upper-ticks:nth-of-type(1) {
  width: 10%;
}

.tick-label2:nth-of-type(1) {
  text-align: left;
  width: 10%;
}

.tick-label2:nth-of-type(2) {
  left: 10%;
}

.tick-label2:nth-of-type(3) {
  left: 30%;
}

.tick-label2:nth-of-type(4) {
  left: 50%;
}

.tick-label2:nth-of-type(5) {
  left: 70%;
}

.tick-label2:nth-of-type(6) {
  left: 89%;
  width: 11%;
  text-align: right;
}

.ruler-desc{
  width: 100%;
  text-align: center;
  padding: 3px;
  font-size: 7pt;
  font-weight: bold;
}

.resubmit-btn {
  width: 50%;
  padding: 2px;
  font-size: 11pt;
  margin: auto;
}