////////////////////
//   TYPOGRAPHY   //
////////////////////

html {
  font-family: Arial, sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #006bd6;
  text-decoration: underline;
}

h1 {
  font-size: 20pt;
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.5;
}

b {
  font-weight: 900;
}

sup {
  vertical-align: super;
  font-size: 80%;
}

.less-important {
  color: dimgray;
  font-size: 10pt;
}

/////////////////////////
//   ERRORS in MODAL   //
/////////////////////////

.modal-container h2 {
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px;
}

ul.errorlist li {
  font-weight: bold;
}

ul.errorlist li ul li {
  font-weight: normal;
  color: #f00;
  margin-left: 20px;
  list-style-type: "▸ ";
  left: 10px;
  position: relative;
}


////////////////
//   LABELS   //
////////////////

.label {
  background-color: royalblue;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 14px;
  border: 1px solid black;
  width: 67px;
  text-align: center;
}

.label_waiting {
  background-color: yellow;
  color: black;
}

.label_running {
  background-color: green;
}

.label_finished {
  background-color: royalblue;
}

.label_error {
  background-color: firebrick;
}

.version-tag {
  font-size: 10pt;
  color: #999;
}

