{% extends 'base.html' %}
{% block content %}
    <h1>Error 500</h1>
    <p>Sorry, internal server error.</p>
    <p>If you believe it's a bug, please report it. The contact is <a href="{% url 'contact' %}">here</a>.</p>
{% endblock %}