{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring model</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>
    {% block head %}{% endblock %}
    {% if GOOGLE_ANALYTICS_KEY %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_KEY }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_KEY }}');
        </script>
    {% endif %}
</head>
<body>
{% include "menu.html" %}
<div class="container">
    <div>
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>