{% block footer %}
    <footer style="text-align: center;">
        <hr>
        <a href="http://spring-model.cent.uw.edu.pl">Spring Model</a> Copyright &copy; <a href="https://4dnucleome.cent.uw.edu.pl/">Laboratory of Functional and Structural
        Genomics</a>
        2018-{% now "Y" %}.
        <div class="version-tag">v{{ VERSION }}</div>
    </footer>
{% endblock %}