<nav>
    <ul>
        <li><a href="{% url "index" %}">Build new model</a></li>
        <li><a href="{% url "list_of_tasks" %}">List of tasks</a></li>
        <li class="dropdown"><a>About</a>
            <ul class="dropdown-content">
                <li><a href="{% url 'overview' %}">Overview</a></li>
                <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
                <li><a href="{% url 'manual' %}">Manual</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            </ul>
        </li>
    </ul>
</nav>
