@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: Arial, sans-serif; }

a {
  color: #007bff;
  text-decoration: none; }

a:hover {
  color: #006bd6;
  text-decoration: underline; }

h1 {
  font-size: 20pt;
  font-weight: 400;
  line-height: 1.6; }

h2 {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.5; }

b {
  font-weight: 900; }

sup {
  vertical-align: super;
  font-size: 80%; }

.less-important {
  color: dimgray;
  font-size: 10pt; }

.modal-container h2 {
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px; }

ul.errorlist li {
  font-weight: bold; }

ul.errorlist li ul li {
  font-weight: normal;
  color: #f00;
  margin-left: 20px;
  list-style-type: "▸ ";
  left: 10px;
  position: relative; }

.label {
  background-color: royalblue;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 14px;
  border: 1px solid black;
  width: 67px;
  text-align: center; }

.label_waiting {
  background-color: yellow;
  color: black; }

.label_running {
  background-color: green; }

.label_finished {
  background-color: royalblue; }

.label_error {
  background-color: firebrick; }

.version-tag {
  font-size: 10pt;
  color: #999; }

html {
  margin: 0;
  background: silver; }

.container {
  width: 800px;
  margin: 10px auto auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #ddd;
  box-shadow: 0 0 20px #000; }

hr {
  border-top: 1px solid silver;
  margin: 5px; }

body {
  counter-reset: h2counter; }

h1 {
  counter-reset: h2counter; }

.countheads ~ h2:before {
  content: counter(h2counter) ".  ";
  counter-increment: h2counter; }

h2.nocount:before {
  content: none;
  counter-increment: none; }

h2 {
  counter-reset: h3counter; }

.countheads ~ h3:before {
  content: counter(h2counter) "." counter(h3counter) ".  ";
  counter-increment: h3counter; }

h3.nocount:before {
  content: none;
  counter-increment: none; }

nav li {
  float: left; }

nav ul {
  overflow: hidden;
  background-color: #333; }

nav li a {
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  text-decoration: none; }

nav li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left; }

.dropdown-content li {
  float: none; }

.dropdown:hover .dropdown-content {
  display: block; }

fieldset {
  border: 1px solid #333;
  padding: 15px 5px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative; }

fieldset#model-coordinates {
  width: 30%;
  float: left; }

fieldset#genomic-coordinates {
  width: 61%;
  float: right; }

input[type=submit] {
  display: block;
  background: #1b8fff;
  border: 2px solid #333;
  color: white;
  border-radius: 5px; }

.new-task-submit-btn {
  padding: 10px 30px;
  font-weight: 400;
  font-size: large;
  margin-bottom: 10px;
  width: 252px; }

input[type=number], input[type=text] {
  width: 125px; }

th, td {
  padding: 3px;
  vertical-align: middle; }

span.help-text {
  font-size: smaller;
  color: #555; }

td.example-links {
  padding-left: 20px; }

span.policy-info {
  float: right;
  width: 60%; }

fieldset legend {
  font-size: 14pt;
  position: absolute;
  top: -12px;
  left: 18px;
  background-color: #ddd; }

div.separator {
  float: left;
  padding: 150px 12px;
  font-weight: 700;
  font-size: 14pt; }

textarea {
  -moz-tab-size: 2;
  tab-size: 2;
  font-size: 8pt; }

.field-errors {
  font-size: 10pt;
  color: red; }

.center-cell {
  text-align: center;
  vertical-align: middle; }

ul#id_initial_structure_type li {
  padding-left: 27px; }

ul#id_initial_structure_type li label {
  margin-left: -27px; }

.modal-button {
  padding: 8px 16px;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 5px 0 0; }

.modal {
  z-index: 3;
  padding-top: 300px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

.modal-content {
  margin: auto;
  background-color: #ddd;
  position: relative;
  padding: 20px;
  outline: 0;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 20px #000; }

.modal-container:after, .modal-container:before {
  content: "";
  display: table;
  clear: both;
  padding: 0.01em 16px; }

.modal-button:hover {
  color: #000 !important;
  background-color: #ccc !important; }

.container-left {
  float: left; }

.container-right {
  float: right; }

.task_id {
  color: dimgray;
  font-size: 8pt; }

.task-details th {
  color: dimgray; }

.arc-diagram {
  width: 385px; }

.distance-map {
  width: 385px; }

.structure-preview {
  width: 385px;
  height: 370px;
  margin-bottom: 5px; }

ul#restraints {
  list-style: none;
  font-size: 10px; }

fieldset.interactions pre {
  width: 100%;
  max-width: 385px;
  text-overflow: ellipsis;
  tab-size: 3;
  -moz-tab-size: 3; }

.color-legend {
  height: 8px;
  background: #ff3232;
  background: -moz-linear-gradient(left, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  background: -webkit-linear-gradient(left, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  background: linear-gradient(to right, #ff3232 0%, #ff7f00 25%, #ffff00 50%, #00ff00 75%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3232', endColorstr='#0000ff', GradientType=1); }

.ruler {
  position: relative;
  width: 100%;
  height: 14px; }

.ruler .cm {
  width: 100%; }

.ruler .mm {
  width: 10%; }

.ruler .cm,
.ruler .mm {
  position: absolute;
  border-left: 1px solid #555;
  height: 14px; }

.upper-ruler {
  bottom: 0; }

.ruler .mm {
  height: 5px; }

.ruler .mm:nth-of-type(5) {
  height: 14px; }

.ruler .cm:nth-of-type(1) {
  left: 0; }

.ruler .cm:nth-of-type(2) {
  left: 100%; }

.ruler .mm:nth-of-type(1) {
  left: 10%; }

.ruler .mm:nth-of-type(2) {
  left: 20%; }

.ruler .mm:nth-of-type(3) {
  left: 30%; }

.ruler .mm:nth-of-type(4) {
  left: 40%; }

.ruler .mm:nth-of-type(5) {
  left: 50%; }

.ruler .mm:nth-of-type(6) {
  left: 60%; }

.ruler .mm:nth-of-type(7) {
  left: 70%; }

.ruler .mm:nth-of-type(8) {
  left: 80%; }

.ruler .mm:nth-of-type(9) {
  left: 90%; }

.ticks {
  position: relative;
  height: 10px; }

.tick-label, .tick-label2 {
  position: absolute;
  font-size: 7pt;
  text-align: center;
  width: 10%; }

.tick-label:nth-of-type(1) {
  text-align: left;
  width: 5%; }

.tick-label:nth-of-type(2) {
  left: 5%; }

.tick-label:nth-of-type(3) {
  left: 15%; }

.tick-label:nth-of-type(4) {
  left: 25%; }

.tick-label:nth-of-type(5) {
  left: 35%; }

.tick-label:nth-of-type(6) {
  left: 45%; }

.tick-label:nth-of-type(7) {
  left: 55%; }

.tick-label:nth-of-type(8) {
  left: 65%; }

.tick-label:nth-of-type(9) {
  left: 75%; }

.tick-label:nth-of-type(10) {
  left: 85%; }

.tick-label:nth-of-type(11) {
  left: 95%;
  width: 5%;
  text-align: right; }

.upper-ticks {
  width: 20%; }

.upper-ticks:nth-of-type(1) {
  width: 10%; }

.tick-label2:nth-of-type(1) {
  text-align: left;
  width: 10%; }

.tick-label2:nth-of-type(2) {
  left: 10%; }

.tick-label2:nth-of-type(3) {
  left: 30%; }

.tick-label2:nth-of-type(4) {
  left: 50%; }

.tick-label2:nth-of-type(5) {
  left: 70%; }

.tick-label2:nth-of-type(6) {
  left: 89%;
  width: 11%;
  text-align: right; }

.ruler-desc {
  width: 100%;
  text-align: center;
  padding: 3px;
  font-size: 7pt;
  font-weight: bold; }

.resubmit-btn {
  width: 50%;
  padding: 2px;
  font-size: 11pt;
  margin: auto; }

.task_list th {
  color: black;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray; }

table.task_list {
  border-bottom: 1px solid gray;
  margin-bottom: 10px; }

footer {
  clear: both; }

.sm-static-page p {
  line-height: 1.2;
  margin-bottom: 5px; }

.sm-static-page ol {
  list-style: decimal; }

.sm-static-page li {
  margin-left: 18px; }

.sm-static-page ul {
  list-style-type: circle; }

.overview {
  padding: 30px; }

.overview h1 {
  margin-bottom: 30px; }

.overview p {
  margin-bottom: 30px;
  font-family: "Book Antiqua", sans-serif; }

.overview dl {
  margin-left: 40px; }

.overview dt, .overview dd {
  float: left;
  font-size: 13pt; }

.overview dt {
  width: 90px;
  height: 80px;
  text-align: center; }

.overview dd {
  width: 80%;
  margin-top: 10px;
  font-family: "Book Antiqua", sans-serif; }

.overview dd p {
  font-family: Arial, sans-serif !important; }

.overview dt i {
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: #1b8fff;
  margin-top: 20px; }

#manual dt {
  font-style: italic; }

#manual dd {
  margin-left: 30px;
  margin-bottom: 15px; }

#manual ul, .manual ol {
  margin-left: 20px; }

#manual p {
  margin-bottom: 10px; }

#manual li p {
  margin-left: 30px; }

#tutorial {
  padding: 10px; }

#tutorial h2 {
  margin: 10px 0 5px 0; }

#tutorial p {
  margin-bottom: 10px; }

#tutorial pre {
  margin: 10px 0 20px 50px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  font-size: 10pt; }

.image-with-caption {
  font-size: 80%;
  text-align: center;
  display: inline-block; }

.sm-row-img, .md-row-img, .lg-row-img {
  margin-top: 15px;
  text-align: center;
  padding-bottom: 0.5em; }

.sm-row-img img {
  height: 140px;
  width: 140px; }

.sm-row-img .image-with-caption {
  width: 140px; }

.md-row-img img {
  height: 200px;
  width: 200px; }

.md-row-img .image-with-caption {
  width: 200px; }

.lg-row-img .image-with-caption {
  width: 430px; }

/*# sourceMappingURL=style.css.map */
